body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
/*----HEADER----*/

.header {
  background-color: #fafafa;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  margin-left: 80px;
  padding-top: 47px;
  padding-bottom: 47px;
}

.header-list {
  display: flex;
  gap: 31px;
  margin-left: 433px;
}

.header-item {
}

.header-item-link {
  padding-top: 47px;
  padding-bottom: 47px;
  display: block;
}

.header-btn {
  margin-left: 371px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  padding: 9px 20px;
  text-transform: uppercase;
  color: #f7941e;
  background-color: transparent;
}

/*---HERO---*/

.hero {
  background-color: #f1f1f2;
}
.hero-container {
  display: flex;
}

.wrap {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-title {
  width: 433px;
}

.hero-title {
  font-size: 56px;
  line-height: 69px;
  margin-bottom: 36px;
}
.hero-text {
  font-size: 20px;
  line-height: 1.4;

  margin-bottom: 60px;
}
.hero-btn {
}

/* --------GIFTS */

.gifts {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 137px;
}
.second-container {
  width: 1170px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

.gifts-title {
  text-align: center;
  margin-bottom: 23px;
}
.gifts-text {
  text-align: center;
  margin-bottom: 57px;
}

.gifts-list {
  display: flex;
  gap: 30px;
}

.gifts-item-content {
  padding: 24px;
}

.gifts-item {
  background-color: #fafafa;
  flex-basis: calc((100% - 90px) / 4);
}

.gifts-item-title {
  margin-bottom: 74px;
}
